.pokemon-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: fit-content;
  align-self: center;
}

.pokemon-img {
  width: 100px;
  height: 100px;
  align-self: center;
  border: 4px solid white;
  margin: 8px;
  border-radius: 80px;
  padding: 8px;
}

.back-btn {
  position: relative;
  width: fit-content;
  top: 0;
  left: 0;
}

input {
  width: 100px;
  float: right;
}

label {
  padding: 3px;
  text-align: left;
}
