.pokemon-portal-container {
  display: flex;
  flex-direction: column;
}

.go-to-btn-container {
  z-index: 100;
  position: absolute;
  color: black;
  width: 33%;
  padding: 8px;
  top: 0;
}

button {
  font-weight: bolder;
  color: white;
  border: none;
  margin: 8px;
  width: 70px;
  border-radius: 8px;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(45, 77, 253, 1) 100%
  );
}

button:hover {
  text-decoration: line-through;
}

span {
  height: 25px;
}
