.pokemon-portal-container {
  display: flex;
  flex-direction: column;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.go-to-btn {
  left: 0;
  position: absolute;
  color: black;
  width: fit-content;
}

button {
  font-weight: bolder;
  color: white;
  border: none;
  margin: 16px;
  border-radius: 8px;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(45, 77, 253, 1) 100%
  );
}

button:hover {
  text-decoration: line-through;
  z-index: 1000;
}
